@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-----Загальні стилі-----*/

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #000000;
    font-size: 18px;
    margin: 0;
}

.btn {
    padding: 12px 30px;
    border-radius: 26px;
    background-color: #54A757;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.10);

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}

/*------HEADER------*/

.header {
    background-color: #080702;
    height: 74px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul {
    display: flex;
}

.header__nav li + li {
    margin-left: 31px;
}

.header__nav a {
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.36px;
    transition: color 0.2s;
    /*transition: color 0.2s;*/
}

.header__nav a:hover {
    color: #29AAE3;
}

.header__nav a:active {
    color: #116184;
}

.header__btn {
    background-color: #29AAE3;
}

.header__select {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-transform: uppercase;

    padding: 10px;
    background-color: transparent;
    border: none;
}

.header__select-option {
    background-color: #f0f0f0;
    color: #333;
}

.language-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-primary {
    color: red;
}

/*------WELCOME------*/

.welcome {
    color: #FFFFFF;
    box-sizing: border-box;
    min-height: calc(100vh - 74px);
    background-image: url("./images/main-foto.jpg");
    background-color: #116184;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__container {
    /*width: 730px;*/
    padding-top: 265px;
    font-family: 'Roboto', sans-serif;
}

.welcome__heading {
    max-width: 730px;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.welcome__text {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #FFF;
}

.welcome__text-last {
    margin-bottom: 32px;
}

.welcome__button {

}

.opportunities {
    padding-top: 100px;
}

.opportunities__title {
    color: #434449;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
}

.card {
    width: 310px;
    height: 602px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F9F9F9;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    /*padding-top: 32px;*/
    padding-left: 26px;
    padding-bottom: 21px;
}

.card__img {

}

/*.opportunities__img-wrap {*/
/*    background-color: #54A757;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*}*/

/*.card__img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.card__title {
    color: #29AAE3;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
}

.card__title2 {
    color: #434449;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

.card__disc li {
    margin-bottom: 12px;
}

.list-disc {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #29AAE3;
    margin-right: 12px;
    border-radius: 50%;
}

.opportunities__cards {
    background-color: #9FCFA1;
}

.card-btn {
    margin-top: 112px;
}


