@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-----Загальні стилі-----*/

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    /*background-color: #333333;*/
}

p {
    color: #000000;
    font-size: 18px;
    margin: 0;
}

.btn {
    width: max-content;
    padding: 12px 30px;
    border-radius: 26px;
    background-color: #54A757;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.10);

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}

.opportunities__title, .creation__title, .optimization__title, .management__title, .shifton__title {
    color: #434449;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

/*------HEADER------*/

.header {
    background-color: #080702;
    height: 74px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul {
    display: flex;
}

.header__nav li + li {
    margin-left: 31px;
}

.header__nav a {
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.36px;
    transition: color 0.2s;
}

.header__nav a:hover {
    color: #29AAE3;
}

.header__nav a:active {
    color: #116184;
}

.header__btn {
    background-color: #29AAE3;
}

.header__select {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-transform: uppercase;

    padding: 10px;
    background-color: transparent;
    border: none;
}

.header__select-option {
    background-color: #f0f0f0;
    color: #333;
}

.language-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-primary {
    color: red;
}

/*------WELCOME------*/

.welcome {
    color: #FFFFFF;
    box-sizing: border-box;
    min-height: calc(100vh - 74px);
    background-image: url("./images/main-foto.jpg");
    background-color: #116184;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__container {
    padding-top: 265px;
    font-family: 'Roboto', sans-serif;
}

.welcome__heading {
    max-width: 730px;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.welcome__text {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #FFF;
}

.welcome__text-last {
    margin-bottom: 32px;
}

/*-------SECTION OPPORTUNITIES-------*/

.opportunities {
    padding-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 602px;
    border-radius: 20px;
    background: #F9F9F9;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    padding: 26px;
}

.card__img {
    margin-bottom: 23px;
}

.card__title {
    color: #29AAE3;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 23px;
}

.card__title2 {
    color: #434449;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.card__title2-centre {
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.card__content {
    flex-grow: 1;
}

.card__disc li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434449;
}

.card__disc li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.4em;
    width: 9px;
    height: 9px;
    /*background-color: #29AAE3;*/
    border-radius: 50%;
}

.opportunities__cards {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 46px;
    padding-bottom: 70px;
}

/*------SECTION CREATION-------*/

.creation {
    background-color: #F5F6F6;
    padding-top: 70px;
}

.creation__container, .optimization__container, .management__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.creation__title {
    color: #29AAE3;
}

.creation__description, .optimization__description, .management__description {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    width: 475px;
}

.creation__btn {
    background-color: #29AAE3;
}

.creation__bloc, .optimization__bloc, .management__bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creation__rectangle {
    width: 480px;
    height: 335px;
    border-radius: 5.4px;
    background: #F1F1F1;
}

.creation__description, .optimization__description, .management__description {
    margin-bottom: 40px;
}

/*---------OPTIMIZATION--------*/

.optimization {
    padding-top: 70px;
    background-color: #FFFFFF;
}

.optimization__title {
    color: #9033F9;
}

.optimization__btn {
    background-color: #9033F9;
}

.optimization__container {
    flex-direction: row-reverse;
}

.optimization__index {
    max-width: 713px;
    margin-left: -80px;
}

/*---------MANAGEMENT--------*/

.management {
    padding-top: 70px;
    background-color: #F5F6F6;
}

.management__title {
    margin-bottom: 19px;
    color: #FF5966;
}

.management__btn {
    background-color: #FF5966;
}

/*--------SHIFTON--------*/

.shifton__title {
    color: #434449;
}

.shifton__container {
    padding-top: 70px;
}

.video__container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.shifton__video {
    width: 80%;
    height: 562px;
}

/*--------SOCIALS--------*/

.management__img {
    margin-right: 100px;
}

.social-question {
    color: #434449;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.social-question-link {
    color: #29AAE3;
    transition: color 0.2s;
}

.social-question-link:hover {
    color: #29AAE3;
    opacity: 0.8;
}

.social-question-link:active {
    color: #116184;
}

/*--------FOOTER-------*/

.footer {
    background-color: #29AAE3;
    padding-top: 55px;
    padding-bottom: 83px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 24px;
}

.footer__nav-item, .footer__transition {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.cta__links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 26px;
    margin-top: 48px;
}

.cta__img {
    width: 152px;
    height: 58px;
    background-color: #000000;
    border-radius: 10%;
}

.footer__sentence {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer__choice {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 10px;
}

.footer__transition:not(:last-child)::after {
    content: "|";
    padding-left: 20px; /* Відстань після палички */
    color: #FFFFFF; /* Колір палички */
}

.horizontal {
    height: 2px;
    background: #C4C4C4;
}

@media (max-width: 1380px) {
    .optimization__index {
        margin-left: 0;
        max-width: 55%;
    }
}

@media (max-width: 1120px) {
    .optimization__index {
        max-width: 50%;
    }
}

@media (max-width: 1080px) {
    .opportunities__cards {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .creation__container, .optimization__container, .management__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /*justify-content: space-between;*/
        /*padding-bottom: 70px;*/
    }

    .management__img {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .creation__index, .optimization__img {
        margin-bottom: 40px;
    }

    .creation__btn, .optimization__btn, .management__btn, .btn__card {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .opportunities__cards {
        justify-content: space-evenly;
    }

    .opportunities, .creation, .management, .optimization, .shifton__container {
        padding-top: 30px;
    }

    .creation__container, .optimization__container, .management__container, .opportunities__cards {
        padding-bottom: 40px;
    }

    .optimization__index {
        max-width: 60%;
    }

    .shifton__video {
        height: 400px;
    }
}

@media (max-width: 600px) {
    .header__logo {
        width: 86px;
        height: 25px;
    }

    .welcome__heading {
        font-size: 32px;
    }

    .welcome__text {
        font-size: 20px;
    }

    .opportunities__title, .creation__title, .optimization__title, .management__title, .shifton__title {
        font-size: 28px;
    }

    .social-question {
        font-size: 20px;
    }

    .footer__nav-item {
        font-size: 18px;
    }

    .footer__sentence, .footer__transition {
        font-size: 15px;
    }

    .socials {
        margin: 32px 0 44px;
    }

    .optimization__index {
        max-width: 100%;
    }

    .optimization__img {
        margin-bottom: 20px;
    }

    .creation__index {
        max-width: 80%;
        background-color: #9033F9;
    }

    .shifton__video {
        height: 300px;
        width: 100%;
    }

    .video__container {
        padding-bottom: 40px;
        background-color: #29AAE3;
        /*width: 330px;*/
        /*height: 185px;*/
    }

    .creation__description, .optimization__description, .management__description {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .shifton__video {
        height: 200px;
    }

    .footer__choice {
        gap: 15px;
        padding: 0;
    }

    .footer__transition:not(:last-child)::after {
        padding-left: 15px; /* Відстань після палички */
    }

    .footer__sentence, .footer__transition {
        font-size: 14px;
    }

    .optimization__img {

    }
}
